__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
.DS_Store
DEVNET-KEYS.json
.nir-devnet/
.nir-network/
TREASURY-DEV-KEY.json
VALIDATOR-KEY.json
COORDINATOR-KEY.json
*.nirvault
*.nirvault.json
*.nirkey
release-key.nir
